body {
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	line-height: 1.5;
	font-family: sans-serif;
}

#banner {
	width: 50%;
	margin: 10px;
}

.principal {
	padding: 30px;
}

.titulo-principal {
	padding: 50px;
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
	background-color: rgb(199, 153, 122);
	color: rgb(223, 202, 170);
}

.img-beneficios {
	width: 25%;
}

header img{
	width: 15%;
}