#banner {
	width:100%;
	margin: 0px;
}

.principal{

	padding: 30px;
}

.titulo-principal {
	padding: 30px;
	text-align: center;
	color: #ccc;
	background: black;
	text-transform: uppercase;
}